<template>
  <div v-bind:class="{containerweb: !mobile }" style="text-align: center">
    <b-navbar toggleable="lg" type="dark" variant="info" style="border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
      <b-navbar-brand href="#">Tezos Snapshots</b-navbar-brand>
    </b-navbar>

    <div class="row mrgn" style="text-align: center">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"><img style="margin-left: -40px;" src="./../assets/logo.png" height="60px" alt="Logo"></div>
      <div class="col-lg-4"></div>
    </div>


    <div style="width: 100%; text-align: center; margin-top: 50px;">
      <h3>Snapshots</h3>
    </div>


    <div style="width: 100%; text-align: center; margin-top: 80px; margin-left: 20px;">
      <table style="text-align: center">
        <tr style="text-align: center">
          <th>Name</th>
          <th>History Mode</th>
          <th>Time</th>
          <th>Link</th>
        </tr>
        <tr v-for=" i in snaps" v-bind:key="i" style="text-align: center">
          <td>{{ i.split("-")[0] }}</td>
          <td>{{ i.split(".")[1] }}</td>
          <td>{{ i.split("-")[1] }}-{{ i.split("-")[2] }}-{{ i.split("-")[3] }}-{{ i.split("-")[4].split(".")[0] }}</td>
          <td><a :href="'https://snapsdownload.tulip.tools/' + i">Download</a></td>
        </tr>
      </table>
    </div>

    <div class="row mrgnBIG" style="text-align: center; width: 100%">
      <div class="col-lg-12">
        <h3>Usage</h3>
        <div class="shell-wrap">
          <p class="shell-top-bar">/Users/tulip/tezos</p>
          <ul class="shell-body">
            <li style="opacity: 0.8"># Download Snapshot</li>
            <li>wget {url} </li>
            <li style="opacity: 0.8"># import snapshot</li>
            <li>tezos-node snapshot import {filename} </li>
          </ul>
        </div>
        <br>
        For more info read the <a href="https://blog.nomadic-labs.com/introducing-snapshots-and-history-modes-for-the-tezos-node.html">Nomadic Labs Blog Post</a>
      </div>
    </div>






  </div>
</template>

<script>
// @ is an alias to /src
import { isMobile } from 'mobile-device-detect';
import axios from 'axios'

export default {

  name: 'home',
  data(){
    return {
      networks: ["mainnet","delphinet","dalphanet","edonet"],
      snaps: [],
      mobile: isMobile,
      stats: [

      ],
      servers: [

      ]
    }
  },
  mounted(){
    this.networks.forEach(i => {
    var key = 'latest-' + i+ '-full'
    axios.get('https://snapsdownload.tulip.tools/' + key)
    .then(response => { 
      this.snaps.push(response.data)
      this.snaps.sort()}
    )})

    this.networks.forEach(i => {
    var key = 'latest-' + i+ '-rolling'
    axios.get('https://snapsdownload.tulip.tools/' + key)
    .then(response => { 
      this.snaps.push(response.data)
      this.snaps.sort()}
    )})

  

  },
  components: {
  },
  filters: {
    truncate: function (text, length, suffix) {
      return text.substring(0, length) + suffix;
    },
  }
}
</script>


<style>

  .download {
    padding-top: 15px;
  }

  .ipfstext {
    font-size: 0.8em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    opacity: 0.8;
  }
  .containerweb {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


  .webmargn {
    padding: 50px;
  }

  .mobmargn {
    padding: 50px;
  }

  .mrgn {
    margin-top: 30px;
  }

  .mrgnBIG {
    margin-top: 100px;
  }

  table {
    table-layout: fixed ;
    width: 100% ;
    text-align: left;
  }
  td {
    padding-top: 5px;
    border-bottom: 1px solid #dedede;
  }
  th {
    padding-bottom: 15px;
  }



  .shell-wrap {
    width: 600px;
    margin: 20px auto 0 auto;
    text-align: left;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .shell-top-bar {
    text-align: center;
    color: #525252;
    padding: 5px 0;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
    font-size: 0.85em;
    border: 1px solid #CCCCCC;
    border-bottom: none;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
  }

  .shell-body {
    margin: 0;
    padding: 5px;
    list-style: none;
    background: #464783;
    color: #d2cdd4;
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;

    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .shell-body li:before {
    content: '$';
    position: absolute;
    left: 0;
    top: 0;
  }

  .shell-body li {
    word-wrap: break-word;
    position: relative;
    padding: 0 0 0 15px;
  }

</style>
